@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url('https://fonts.cdnfonts.com/css/ocr-a-std');

*{
    margin: 0px;
    font-family: Pretendard;
    color: var(--Black);
    cursor: default;
}
body{
    background-color: var(--White);
    overflow: visible;
}
.viewport {
    position: fixed;
    overflow-y: visible;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
#scroll-container{
    position: absolute;
}
:root{
    --White: #ffffff;
    --Black: #101010;
    --LightGray: #dddddd;
    --LighterGray: #eeeeee;
    --Gray: #aaaaaa;
    --Highlight: rgb(0, 150, 254);
    --HighlightSemiTrans: rgb(0, 150, 254,0.4);
    --HighlightTrans: rgb(0, 150, 254,0);
    font-size: 0.85em;
}
::selection{
    color: var(--White);
    background-color: var(--Highlight);
}
::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--White);
    border-radius: 1px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}

.filler{
    height: 55vw;
}
.mainContainer{
    position: absolute;
    top: 3vw;
    left: 3vw;
    z-index: -10;
}
.main{
    width: 94vw;
    position: inherit;
}
svg{
    position: inherit;
    width: 94vw;
}
.path{
    animation: pathAnimate 5s cubic-bezier(0.3,0,0.7,1) infinite;
    fill: none;
    stroke: #000;
    stroke-dasharray: 1 200;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 40px;
    transition-duration: 0.2s;
}
.locator{
    position: inherit;
    width: 10px;
    height: 10px;
    z-index: 10;
}



@keyframes pathAnimate {
    to{
        stroke-dashoffset: -1005;
    }
}

.mobile{
    display: none;
}


#titleTop{
    position: absolute;
    padding-right: 0.5vw;
    padding-bottom: 0.5vw;
    left: 3vw;
    top: 3vw;
}

#titleTop h2{
    font-size: 2vw;
    position: relative;
    left: -0.4vw;
}
#titleTop h1{
    line-height: 1.5vw;
    font-size: 1vw;
    font-weight: 600;
    position: relative;
}

#titleTop .date{
    display: inline-block;
    font-size: 1.8vw;
    font-weight: 700;
    padding-top: 0.5vw;
    padding-right: 0.5vw;
    color: var(--White);
    background-color: var(--Highlight);
}
#titleTop img{
    width: 14vw;
}


hr{
    border: none;
    border-bottom: solid var(--White) 1px;
    height: 0px;
    width: 100vw;
    margin: 2rem 0rem;
}

#info{
    padding-left: 3vw;
    padding-top: 3rem;
    left: 3vw;
    top: 30rem;
    display: flex;
    gap: 4vw;
}

#info .logo{
    width: 10vw;
}
#info .logo img{
    padding-bottom: 1vw;
}

#info .desc{
    display: flex;
    flex-direction: row;
}
#info .exhibit{
}
.exhibit .row{
    display: flex;
    flex-direction: row;
}
.row .col{
    width: 16rem;
}
.row .colWide{
    width: 47rem;
}
.row .colTwo{
    width: 23rem;
}
.colTwo .colHalfGroup{
    display: flex;
}
.colTwo .colHalf{
    width: 50%;
}
#info h3{
    font-size: 1rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
}
#info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.logoMobile{
    display: none;
}
.btnMobile{
    display: none;
}

.btnPc{
    position: fixed;
    left: 72vw;
    top: 3vw;
    width: 25vw;
    height: 20vw;
}




@media  screen and (max-width:800px) {
    .eng{
        display: none !important;
    }
    .logo{
        display: none !important;
    }
    .row{
        display: flex;
        justify-content: space-between;
        width: 93vw;
    }
    .col{
        width: auto !important;
    }
    .colWide{
        width: 100% !important;
    }
    .colTwo{
        width: 50% !important;
    }
    hr{
        width: 100%;
    }
}
@media  screen and (max-width:600px) {
    #titleTop{
        width: 86vw;
        position: static;
        padding-left: 7vw;
        padding-top: 7vw;
    }
    #titleTop h2{
        font-size: 1.5rem;
        padding-bottom: 0.8rem;
    }
    #titleTop h1{
        font-size: 3.5vw;
        text-wrap: wrap;
        line-height: 6vw;
    }
    #titleTop .date{
        display: inline-block;
        font-size: 4.3vw;
        font-weight: 700;
        padding-top: 0.5vw;
        padding-right: 0.5vw;
        color: var(--White);
        background-color: var(--Highlight);
    }
    #titleTop img{
        width: 32vw;
    }
    .main{
        display: none;
        width: 86vw;
        padding-left: 7vw;
    }

    .mobile{
        display: unset;
        width: 86vw;
        padding-top: 2rem;
        padding-left: 7vw;
    }
    .logoMobile{
        display: unset;
        width: 86vw;
        height: 25vw;
        left: 7vw;
        top: 0vw;
        padding-bottom: 0.5rem;
    }

    .btnMobile{
        width: 83vw;
        margin-left: 7vw;
        margin-top: 2rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        background-color: var(--White);
        color: var(--Highlight);
        font-size: 1.3rem;
        font-weight: 700;
        border-radius: 0.4rem;
    }
    .eng{
        display: none !important;
    }
    .logo{
        display: none !important;
    }
    #info{
        padding-left: 7vw;
        padding-top: 1rem;
        top: 30rem;
        display: flex;
        gap: 4vw;
        flex-direction: column;
    }
    .row{
        display: flex;
        justify-content: space-between;
        width: 86vw;
        flex-wrap: wrap;
    }
    .col{
        width: 100% !important;
        padding-bottom: 1.5rem;
    }
    .colWide{
        width: 100% !important;
    }
    .colTwo{
        width: 100% !important;
        padding-bottom: 2.5rem;
    }
    hr{
        width: 100%;
    }
}




.w10vw{width: 10vw;}
.w20{width: 20%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
.vw100{width: 100vw;}
.h100{height: 100%;}
.flex{display: flex;}
.flexcol{display: flex; flex-direction: column;}
.gap5{gap: 5px;}
.gap10{gap: 10px;}
.gap20{gap: 20px;}
.gap30{gap: 30px;}
.gap50{gap: 50px;}
.gap100{gap: 100px;}
.vGap20{width: 100%; height: 50px;}
.vGap50{width: 100%;height: 50px;}
.vGap100{width: 100%;height: 100px;}
.jCenter{justify-content: center;}
.jLeft{justify-content: left;}
.jRight{justify-content: right;}
.jBetween{justify-content: space-between;}
.jEven{justify-content: space-evenly;}
.aCenter{align-items: center;}
.aTop{align-items: flex-start;}
.aBottom{align-items: flex-end;}

.bgGray{background-color: var(--Gray);}
.bgLighterGray{background-color: var(--LighterGray);}
.bgHighlight{background-color: var(--Highlight);}
.cBlack{color: var(--Black);}
.cGray{color:var(--Gray)}

.lineSeperator{width: 80%; height: 1px;border-radius: 2px; background-color: var(--Black); margin-left: 10%;}

.ocr{font-family: 'OCR A Std', sans-serif !important;}
a{text-decoration: none; color: var(--White);}
p{color: var(--White); line-height: 1.8rem; font-size: 1.1rem; font-weight: 500;}
h1{font-size: 1.4rem; font-weight: 800;color: var(--White);}
h2{font-size: 1.1rem; font-weight: 600;color: var(--White);}
h3{font-size: 0.9rem; font-weight: 500;color: var(--White);}
h4{font-size: 0.95rem; font-weight: 500; line-height: 1.5rem;color: var(--White);}
h5{font-size: 0.95rem;color: var(--White);}
h6{font-weight: 500; line-height: 1.1rem;color: var(--White);}
.textOverflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}