@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

*{
    margin: 0px;
    font-family: Pretendard;
    color: var(--Black);
    cursor: default;
}
body{
    background-color: var(--White);
    overflow-x: hidden;
    overflow-y: scroll;
}
.viewport {
    overflow: visible;
    position: initial;
    width: 100vw;
}
#scroll-container{
    position: absolute;  
    overflow: hidden;
    width: 100vw;
}
:root{
    --White: #ffffff;
    --Black: #101010;
    --LightGray: #dddddd;
    --LighterGray: #eeeeee;
    --Gray: #aaaaaa;
    --Highlight: rgb(255, 51, 102);
    --HighlightSemiTrans: rgb(255, 51, 102,0.4);
    --HighlightTrans: rgb(255, 51, 102,0);
    font-size: 0.85em;
}
::selection{
    color: var(--White);
    background-color: var(--Highlight);
}




#pageID{
    position: relative;
    left: 10vw;
    font-size: 3vw;
    font-weight: 900;
    padding: 3.5vw 0px;
}




header{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
@media screen and (min-width:0px) and (max-width:950px){
    header{
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
}
#headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}






#navOverlay{
    position: fixed;
    top: -30vh;
    width: 100vw;
    height: 25vh;

    background-color: rgb(255,255,255,0.4);
    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-bottom-width: 2px;
    border-color: var(--Highlight);
    border-bottom-style: solid;

    transition: 0.2s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.navOverlayCancel{
    position: fixed;
    height: 75vh;
    width: 100vw;
    top: 25vh;
}
.navXContainer{
    position: fixed;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navXBtn{
    width: 50px;
    height: 50px;
    rotate: 0deg;
    transition-duration: 0.3s;
}

#navOverlayBtnGroup{
    position: relative;
    width: 80vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navOverlayBtn{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    
    width: calc(((80vw + 0.8vw) / 4) - 0.8vw);
}
.navOverlayBtnCurrent{
    border-bottom: solid 5px var(--Highlight);
}
.navOverlayBtnBackground{
    position: absolute;
    width: 100%;
    height: 102%;
    transform-origin: bottom center;
    scale: 1 0;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--Highlight);
    pointer-events: none;
    z-index: -1;
}
.navOverlayBtn:hover .navOverlayBtnBackground{
    scale: 1 1;
}
.navOverlayBtnText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 800;
    transition-duration: 0.1s;
}
.navOverlayBtn:hover .navOverlayBtnText{
    color: var(--White);
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 200;
}
.arrowGroup{
    position: fixed;
    top: 0px;
    left: 0px;
}
.arrowGlobal{
    position: absolute;
    transform-origin: left top;
    scale: 0 1;
    height: 0px;
    border-top: solid var(--Black) 2px;
    transition : scale 0.1s;
    transition-delay: 0.05s;
}
.circleGlobal{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    scale: 0;
    transition: scale 0.1s;
    transform-origin: center center;
    margin-top: -5px;
    margin-left: -5px;
}
.pGroup{
    position: relative;
}
.arrowLine{
    top: 50px;
    left: 90vw;
    width: 0px;
    rotate: 170deg;
    transition: scale 0.3s;
}
.arrowTarget{
    margin-right: 30%;
}
.navOverlayBtn:hover .arrowGlobal{
    scale: 1 1;
}
.navOverlayBtn:hover .circleGlobal{
    scale: 1;
}
.delay1{transition-delay: 0.1s;}
.delay2{transition-delay: 0.2s;}
.delay3{transition-delay: 0.3s;}
.delay4{transition-delay: 0.4s;}







#filterContainer{
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: start;
    gap: 0.5rem;
}
.filterGroup{
    column-gap: 5px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
@media screen and (max-width:950px){
    #filterContainer{
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: start;
        gap: 2rem;
    }
    .filterGroup{
        column-gap: 20px;
        display: flex;
        justify-content: center;
    }
}
.filterBtn{
    font-size: 1.1rem;
    font-weight: 500;
    /*padding: 8px 12px 8px 12px; */
    padding: 8px 12px 8px 12px;

    border-radius: 15px;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: transparent;
    background-color: transparent;
    transition: 0.3s;
}
.filterBtn.clicked{
    font-weight: 900;
    border-bottom-color: var(--Highlight);
}
.allBtn{
    font-weight: 400;
    padding: 8px 12px 8px 12px; 
    border-width: 0px;
    background-color: var(--LighterGray);
}
.allBtn.clicked{
    font-weight: 400;
    background-color: var(--Highlight);
    color: var(--White);
}


.classDesc{
    width: 40vw;
}





#archiveContainer{
    width: 80vw;
    column-gap: 0.8vw;
    row-gap: 3.5rem;

    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width:1200px){
    .itemContainer{
        width: calc(((80vw + 0.8vw) / 4) - 0.8vw);
        height: calc(((80vw + 0.8vw) / 4) - 0.8vw);
    }
}
@media screen and (min-width:950px) and (max-width:1199px){
    .itemContainer{
        width: calc(((80vw + 0.8vw) / 3) - 0.8vw);
        height: calc(((80vw + 0.8vw) / 3) - 0.8vw);
    }
}
@media screen and (max-width:945px){
    .itemContainer{
        width: calc(((90vw + 1.5vw) / 2) - 1.5vw);
        height: calc(((90vw + 1.5vw) / 2) - 1.5vw);
    }
    #archiveContainer{
        width: 90vw;
        column-gap: 1.5vw;
        row-gap: 3.5rem;
    
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:550px){
    .itemCategory{
        display: none;
    }
}

.itemContainer:hover .itemHoverInfo{
    opacity: 100%;
    transition-duration: 0.3s;
}
.itemThumbnail{
    width: 100%;
    height: 100%;
    background-color: var(--LightGray);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition-property: box-shadow transform;
    transition-delay: 0.05s;
    transition-duration: 0.6s;
}
.itemContainer:hover .itemThumbnail{
    transform: translateX(0px) translateY(-6px);
    transition-duration: 0.3s;
    box-shadow: inset 18px 40px 40px -25px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.itemInfoContainer{
    padding-top: 0.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.itemHoverInfo{
    padding: 20px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    
    opacity: 0%;
    transition-duration: 1s;
    transition-delay: 0.05s;
}
.itemCategory{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}






#studentListContainer{
    width: 80vw;
    gap: 20px;

    display: flex;
    flex-wrap: wrap;
}

.studentBlock{
    width: calc(((80vw + 20px) / 4) - 20px);
    height: calc(((80vw + 20px) / 4) - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.studentThumbnail{
    width: 100%;
    height: 100%;
    background-color: var(--LighterGray);
}
.studentName{
    padding: 5px;
    font-size: 1.5rem;
    letter-spacing: 0.14rem;
}





.projectBanner{
    width: 100vw;
    height: calc(100vw * (3/10));
    background-color: gray;
    object-fit: cover;
}
.projectInfo{
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.projectInfo a{padding: 4px;transition-duration: 0.1s;}
.projectInfo a:hover{
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: var(--Highlight);
}
.projectDesc{width:80%;}
.projectTitle{
    font-size: 4rem;
    font-weight: 800;
}
@media screen and (max-width:600px){
    .projectDetail{flex-direction: column; gap: 50px;}
    .projectDesc{width: 100%;}
    .projectTitle{
        font-size: 2rem;
    }
}
.nameContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.compYoutube{
    width: 80vw;
    height: calc(80vw * 9/16);
    margin-left: 10%;
    padding-bottom: 50px;
}
.compImage{
    background-color: black;
    font-size: 0px;
    clear:both;
}
.compImage Img{
    width: 100%;
    object-fit: cover;
    display: inline;
    float: left;
}
.compSet1{
    width: 50%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.compSet2{
    width: 50%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.compSet3{
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.compTitle{
    padding-bottom: 0.8rem;
    font-size: 2.5rem;
    font-weight: 800;
}
.projectOther{
    width: 80vw;
    height: 2rem;
    justify-content: left;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
}





.w10vw{width: 10vw;}
.w20{width: 20%;}
.w30{width: 30%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w100{width: 100%;}
.h100{height: 100%;}
.flex{display: flex;}
.flexcol{display: flex; flex-direction: column;}
.gap5{gap: 5px;}
.gap10{gap: 10px;}
.gap20{gap: 20px;}
.gap30{gap: 30px;}
.vGap20{width: 100%; height: 50px;}
.vGap50{width: 100%;height: 50px;}
.vGap100{width: 100%;height: 100px;}
.jCenter{justify-content: center;}
.jLeft{justify-content: left;}
.jRight{justify-content: right;}
.jBetween{justify-content: space-between;}
.jEven{justify-content: space-evenly;}
.aCenter{align-items: center;}
.aTop{align-items: flex-start;}
.aBottom{align-items: flex-end;}

.bgGray{background-color: var(--Gray);}
.bgLighterGray{background-color: var(--LighterGray);}
.cBlack{color: var(--Black);}
.cGray{color:var(--Gray)}

.lineSeperator{width: 80%; height: 1px;border-radius: 2px; background-color: var(--Black); margin-left: 10%;}

a{text-decoration: none; color: var(--Black);}
p{color: var(--Black); line-height: 1.8rem; font-size: 1.1rem; font-weight: 500;}
h1{font-size: 1.4rem; font-weight: 800;color: var(--Black);}
h2{font-size: 1.1rem; font-weight: 600;color: var(--Black);}
h3{font-size: 0.9rem; font-weight: 500;color: var(--Black);}
h4{font-size: 0.95rem; font-weight: 500; line-height: 1.5rem;color: var(--Black);}
h5{font-size: 0.95rem;color: var(--Black);}
h6{font-weight: 500; line-height: 1.1rem;color: var(--Black);}
.textOverflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}






footer{
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--LighterGray);
}
.footerLogo{
    width: 7rem;
    height: 2.7rem;
    background-color: purple;
    object-fit: contain; 
}
.footerLinks{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
footer a{padding: 10px; transition-duration: 0.2s; font-weight: 400;}
footer a:hover{font-weight: 900; color: var(--Highlight);}

@media screen and (max-width:1200px){
    footer{
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2rem;
        padding-bottom: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        background-color: var(--LighterGray);
    }
}