@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url('https://fonts.cdnfonts.com/css/ocr-a-std');

*{
    margin: 0px;
    font-family: Pretendard;
    color: var(--Black);
    cursor: default;
}
body{
    background-color: var(--White);
    overflow: visible;
}
.viewport {
    position: fixed;
    overflow-y: visible;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
#scroll-container{
    position: absolute;
}
:root{
    --White: #ffffff;
    --Black: #101010;
    --LightGray: #dddddd;
    --LighterGray: #eeeeee;
    --Gray: #aaaaaa;
    --Highlight: rgb(0, 150, 254);
    --HighlightSemiTrans: rgb(0, 150, 254,0.4);
    --HighlightTrans: rgb(0, 150, 254,0);
    font-size: 0.85em;
}
::selection{
    color: var(--White);
    background-color: var(--Highlight);
}
::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
    border-left: solid 1px var(--Gray);
}
::-webkit-scrollbar-thumb{
    background-color: var(--Gray);
    border-radius: 1px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}





    











header{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
@media screen and (min-width:0px) and (max-width:950px){
    header{
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
}
#headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}





#pageID{
    position: relative;
    left: 10vw;
    font-size: 3rem;
    font-weight: 900;
    padding: 3rem 0px;
}
#navOverlay{
    position: fixed;
    top: -30vh;
    width: 100vw;
    height: 25vh;

    background-color: rgb(255,255,255,0.4);
    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-bottom-width: 2px;
    border-color: var(--Highlight);
    border-bottom-style: solid;

    transition: 0.2s top;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.navOverlayCancel{
    position: fixed;
    height: 75vh;
    width: 100vw;
    top: 25vh;
    display: none;
}
.navXContainer{
    position: fixed;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navXBtn{
    position: fixed;
    width: 2rem;
    height: 2rem;
    left: calc(90vw + 5vw - 1rem);
    top: 4rem;
    transition: opacity 0.3s;
}
.navPageTop{
    position: fixed;
    width: 2rem;
    height: 2rem;
    left: calc(90vw + 5vw - 1rem);
    bottom: 8rem;
}
.navPageBottom{
    position: fixed;
    width: 2rem;
    height: 2rem;
    left: calc(90vw + 5vw - 1rem);
    bottom: 4rem;
}

#navOverlayBtnGroup{
    position: relative;
    width: 80vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navOverlayBtn{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    
    width: calc(((80vw + 0.8vw) / 4) - 0.8vw);
}
.navOverlayBtnCurrent{
    border-bottom: solid 5px var(--Highlight);
}
.navOverlayBtnBackground{
    position: absolute;
    width: 100%;
    height: 102%;
    transform-origin: bottom center;
    scale: 1 0;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--Highlight);
    pointer-events: none;
    z-index: -1;
}
.navOverlayBtn:hover .navOverlayBtnBackground{
    scale: 1 1;
}
.navOverlayBtnText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 800;
    transition-duration: 0.1s;
}
.navOverlayBtn:hover .navOverlayBtnText{
    color: var(--White);
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 200;
}
.arrowGroup{
    position: fixed;
    top: 0px;
    left: 0px;
}
.arrowGlobal{
    position: absolute;
    transform-origin: left top;
    scale: 0 1;
    height: 0px;
    border-top: solid var(--Black) 2px;
    transition : scale 0.1s;
    transition-delay: 0.05s;
}
.circleGlobal{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--Black);
    scale: 0;
    transition: scale 0.1s;
    transform-origin: center center;
    margin-top: -5px;
    margin-left: -5px;
}
.pGroup{
    position: relative;
}
.arrowLine{
    top: 50px;
    left: 90vw;
    width: 0px;
    rotate: 170deg;
    transition: scale 0.3s;
}
.arrowTarget{
    margin-right: 30%;
}
.navOverlayBtn:hover .arrowGlobal{
    scale: 1 1;
}
.navOverlayBtn:hover .circleGlobal{
    scale: 1;
}
.delay1{transition-delay: 0.1s;}
.delay2{transition-delay: 0.2s;}
.delay3{transition-delay: 0.3s;}
.delay4{transition-delay: 0.4s;}


.navMOpen{
    position: fixed;
    width: 2rem;
    height: 2rem;
    left: calc(90vw - 2rem);
    top: 4rem;
}
.navMClose{
    position: relative;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    margin-bottom: 1rem;
}
.navMCloseArea{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 17.5rem;
}
.navMCloseAreaHide{
    pointer-events: none;
}
.navMContainer{
    padding-top: 2rem;
    position: fixed;
    top: -22rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid var(--Highlight);
    transition: top 0.2s;
}
.navMContainerOpen{
    top: 0rem !important;
}
.navMBtn{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    font-weight: 800;
    font-size: 1.5rem;
}
.navMBtnCurrent{
    color: var(--Highlight);
}
#navMobile{
    display: none;
}
@media screen and (max-width:949px){
    #navPC{
        display: none;
    }
    #navMobile{
        display: unset;
    }
}





#filterContainer{
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: start;
    gap: 0.5rem;
}
.filterGroup{
    column-gap: 5px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.filterBtn{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 12px 8px 12px;

    border-radius: 15px;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: transparent;
    background-color: transparent;
    transition: 0.3s;
}
.filterBtn.clicked{
    font-weight: 900;
    border-bottom-color: var(--Highlight);
}
.allBtn{
    font-weight: 400;
    padding: 8px 12px 8px 12px; 
    border-width: 0px;
    background-color: var(--LighterGray);
}
.allBtn.clicked{
    font-weight: 400;
    background-color: var(--Highlight);
    color: var(--White);
}


#classDescContainer{
    height: 0px;
}
.classDesc{
    display: none;
    width: 40vw;
    padding-top: 3rem;
}

@media screen and (max-width:949px){
    #filterContainer{
        display: flex;
        flex-direction: row;
        width: 80vw;
        justify-content: space-between;
        align-items: start;
        gap: 2rem;
    }
    .filterGroup{
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
    }
    .filterSubGroup{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .filterHide{
        display: none !important;
        position: fixed !important;
    }
    .filterBtn{
        width: 50%;
        font-size: 1rem;
    }
}





#archiveContainer{
    width: 80vw;
    min-height: 100px;
    column-gap: 0.8vw;
    row-gap: 3.5rem;

    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width:950px){
    .itemContainer{
        display: none;
        width: calc(((80vw + 0.8vw) / 4) - 0.8vw);
        height: calc(((80vw + 0.8vw) / 4) - 0.8vw);
    }
}
@media screen and (max-width:949px){
    .itemContainer{
        display: none;
        width: calc(((80vw + 1.5vw) / 2) - 1.5vw);
        height: calc(((80vw + 1.5vw) / 2) - 1.5vw);
    }
    #archiveContainer{
        width: 80vw;
        column-gap: 1.5vw;
        row-gap: 3.5rem;
    
        display: flex;
        flex-wrap: wrap;
    }
    .classDesc{
        display: none;
        width: 80vw;
        padding-top: 3rem;
    }
}
@media screen and (max-width:450px){
    .itemCategory{
        display: none;
    }
}

.itemContainer:hover .itemHoverInfo{
    opacity: 100%;
    transition-duration: 0.3s;
}
.itemThumbnail{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--LightGray);
    background-size: cover;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition-property: box-shadow transform;
    transition-delay: 0.05s;
    transition-duration: 0.6s;
    border: solid 1px var(--LightGray);
    border-radius: 10px;
}
.itemThumbnailImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.itemThumbnailGrad{
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition-duration: 0.2s;
    position: absolute;
    z-index: -1;
}
.itemContainer:hover .itemThumbnail{
    transform: translateX(0px) translateY(-6px);
    transition-duration: 0.3s;
    box-shadow: inset 18px 40px 40px -25px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.itemContainer:hover .itemThumbnailGrad{
    opacity: 0%;
}
.itemInfoContainer{
    padding-top: 0.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.itemHoverInfo{
    padding: 10px;
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    
    
    opacity: 0%;
    transition-duration: 1s;
    transition-delay: 0.05s;
}
.itemHoverInfo p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--Black);
    background-color: var(--White);
    border-radius: 5px;
    padding: 3px 7px;
    text-wrap: wrap;
    line-height: 1.4rem;
    hyphens: auto;
    word-break: keep-all;
    box-shadow: 0px 7px 20px -5px rgb(0,0,0,0.4);
}
.itemHoverInfo h3{
    width: fit-content;
    color: var(--Black);
    background-color: var(--White);
    border-radius: 5px;
    padding: 3px 7px;
    box-shadow: 0px 7px 20px -5px rgb(0,0,0,0.4);
}
.itemCategory{
    position: relative;
    top: -0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




#studentWrapper{
    width: 80vw;
    gap: 0.8vw;

    display: flex;
    flex-wrap: wrap;
}
.studentsM{
    display: flex;
    width: 80vw;
    gap: 0.8vw;

    flex-wrap: wrap;
}
.studentContainerM{
    position: relative;
    width: calc(((80vw + 0.8vw) / 4) - 0.8vw);
    height: calc(((80vw + 0.8vw) / 4) - 0.8vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.studentThumbnailM{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--LighterGray);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition-delay: 0.05s;
    transition-duration: 0.6s;
}
.studentContainerM:hover .studentThumbnailM{
    box-shadow: inset 18px 40px 40px -25px rgba(0, 0, 0, 0.3);
}
.studentListNameM{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
.studentListRoleM{
    position: absolute;
    width: 15vw;
    top: 3.5rem;
    left: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
}


@media screen and (max-width:949px){
    .studentContainerM{
        position: relative;
        width: calc(((80vw + 0.8vw) / 2) - 0.8vw);
        height: calc(((80vw + 0.8vw) / 2) - 0.8vw);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .studentListRoleM{
        position: absolute;
        width: 30vw;
        top: 3.5rem;
        left: 1rem;
        font-size: 1rem;
        font-weight: 400;
    }
}
@media screen and (max-width:499px){
    .studentListNameM{
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }
    .studentListRoleM{
        position: absolute;
        width: 30vw;
        top: 2.7rem;
        left: 1rem;
        font-size: 0.5rem;
        font-weight: 400;
    }
}


.studentsPc{
    width: 80vw;
    gap: 0.8vw;

    display: none;
    flex-wrap: wrap;
}
.studentContainer{
    width: calc(((80vw + 0.8vw) / 2) - 0.8vw);
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: solid 1px var(--Highlight);
}
.studentInfoContainer{
    width: calc(((80vw + 0.8vw) / 4) - 0.8vw);
}
.studentContainer h1{
    padding-top: 0.2rem;
    font-size: 2.5rem;
    font-weight: 700;
}
.studentContainer h2{
    font-weight: 500;
}
.studentProjectsContainer{
    width: calc(((80vw + 0.8vw) / 4) - 0.8vw);
    display: flex;
    flex-direction: column;
}
.studentProject{
    background-color: var(--Highlight);
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--White);
}
.studentProjectThumbnail{
    position: absolute;
    left: 0px;
    height: 100%;
}





.profileWrapper{
    display: flex;
    width: 80vw;
    gap: 3vw;
}
.profileImg{
    background-color: var(--LightGray);
    width: calc(((80vw + 0.8vw) / 4) - 0.8vw);
    height: calc(((80vw + 0.8vw) / 4) - 0.8vw);
    object-fit: cover;
}
.profileInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profileInfoContainer h1{
    display: inline;
    font-size: 3rem;
    font-weight: 700;
}
.profileInfoContainer h3{
    display: inline;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.profileInfoContainer h2{
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.profileInfoLink{
    width: fit-content;
    display: block;
    padding: 0.1rem 0rem 0rem 0rem;
}
.profileInfoContainer a{
    transition-duration: 0.3s;
    border-bottom: 2px solid var(--HighlightTrans);
}
.profileInfoLink img{
    display: inline;
    position: relative;
    top: 0.3rem;
    width: 1.4rem;
    height: 1.4rem;
}
.profileInfoLink p{
    padding-left: 1rem;
    position: relative;
    top: 0rem;
    display: inline;
}
.profileInfoContainer a:hover{
    border-bottom: 2px solid var(--Highlight);
}

@media screen and (max-width:949px){
    .profileImg{
        background-color: var(--LightGray);
        width: calc(((80vw + 0.8vw) / 2) - 0.8vw);
        height: calc(((80vw + 0.8vw) / 2) - 0.8vw);
        object-fit: cover;
    }
    .profileInfoContainer h3{
        display: block;
        padding-left: 0px;
        padding-top: 0.4rem;
        font-size: 1.2rem;
    }
    .profileInfoContainer h1{
        font-size: 2.5rem;
    }
    .profileInfoContainer h2{
        font-size: 1.3rem;
        line-height: 1.9rem;
    }
}
@media screen and (max-width:600px) {
    .profileImg{
        background-color: var(--LightGray);
        width: 80vw;
        height: 80vw;
        object-fit: cover;
    }
    .profileWrapper{
        display: flex;
        flex-direction: column;
        width: 80vw;
        gap: 3vw;
    }
    .profileInfoContainer{
        justify-content: start;
    }
    .profileInfoContainer h1{
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    .profileInfoContainer h2{
        font-size: 1.3rem;
        line-height: 1.9rem;
        margin-top: 0.2rem;
        padding-bottom: 3rem;
    }
}



.projectBanner{
    width: 100vw;
    height: calc(100vw * (500 / 1920));
    background-color: gray;
    object-fit: cover;
    border-bottom: solid 1px var(--LightGray);
}
.projectBannerMobile{
    display: none;
    border-bottom: solid 1px var(--Gray);

}
.projectInfo{
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.projectInfo a{padding: 4px;transition-duration: 0.1s;}
.projectInfo a:hover{
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: var(--Highlight);
}
.projectDesc{width:80%;}
.projectTitle{
    position: relative;
    left: -0.2rem;
    font-size: 4rem;
    font-weight: 800;
}

.nameContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.compYoutube{
    padding-top: 25px;
    width: 80vw;
    height: calc(80vw * 9/16);
    margin-left: 10%;
    padding-bottom: 25px;
}
.compImage{
    width: 100vw;
    object-fit: cover;
    display: block;
}
.compSet1{
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.compSet2{
    width: 40%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.compSet3{
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.compTitle{
    padding-bottom: 0.8rem;
    font-size: 2.5rem;
    font-weight: 800;
}
.compLink{
    width: 80vw;
    margin-left: 10%;
    border: 1px solid var(--Black);
    border-radius: 10px;
    transition-duration: 0.2s;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.compLink img{
    width: 2rem;
    height: 2rem;
    padding:0.8rem;
}
.compLink h1{
    transition-duration: 0.2s;
}
.compLink:hover {
    background-color: var(--Highlight);
}
.compLink:hover h1{
    color: var(--White);
}
.projectOther{
    width: 80vw;
    height: 2rem;
    justify-content: left;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
}
@media screen and (max-width:600px){
    .projectDetail{flex-direction: column; gap: 50px;}
    .projectDesc{width: 100%;}
    .projectTitle{
        font-size: 2.5rem;
    }
    .projectBanner{
        display: none;
    }
    .projectBannerMobile{
        display: block;
        width: 100vw;
        height: 80vw;
        background-color: gray;
        object-fit: cover;
    }
    .compSet2{
        width: 80%;
        margin-left: 10%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}






#aboutWrapper{
    width: 80vw;
}
#about{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 100px;
    align-items: top;
}
#about p{
    white-space:pre-line;
    max-width: 70rem;
}
#about h3{
    font-size: 1rem;
}
#about h2{
    font-size:4rem;
}
.aboutImg{
    width: 22rem;
    height: 22rem;
    background-color: var(--LightGray);
}
.aboutTitle{
    padding: 0rem 0rem 1rem 0rem;
    position: relative;
    left: -0.4rem;
    top: -0.5rem;
    font-size: 3rem;
    font-weight: 900;
}
#credit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:start;
    gap: 100px;
}
.creditImg{
    width: 30rem;
    height: 22rem;
    background-color: var(--LightGray);
}
@media screen and (max-width:1350px){
    .aboutImg{
        display: none;
    }
    #credit{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:start;
        gap: 100px;
    }
    .creditImg{
        width: 80vw;
        height: 60vw;
        background-color: var(--LightGray);
    }
}
@media screen and (max-width:650px){
    .creditCol{
        flex-direction: column;
        gap: 50px !important;
    }
}
.aboutBg0{
    display: none;
}
@media screen and (min-width:700px){
    .aboutBg0{
        display: block;
        position: absolute;
        right: 10vw;
        top: 15rem;
        z-index: -10;
        width: 25rem;
    }
}




.w10vw{width: 10vw;}
.w20{width: 20%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
.vw100{width: 100vw;}
.h100{height: 100%;}
.flex{display: flex;}
.flexcol{display: flex; flex-direction: column;}
.gap5{gap: 5px;}
.gap10{gap: 10px;}
.gap20{gap: 20px;}
.gap30{gap: 30px;}
.gap50{gap: 50px;}
.gap100{gap: 100px;}
.vGap20{width: 100%; height: 50px;}
.vGap50{width: 100%;height: 50px;}
.vGap100{width: 100%;height: 100px;}
.jCenter{justify-content: center;}
.jLeft{justify-content: left;}
.jRight{justify-content: right;}
.jBetween{justify-content: space-between;}
.jEven{justify-content: space-evenly;}
.aCenter{align-items: center;}
.aTop{align-items: flex-start;}
.aBottom{align-items: flex-end;}

.bgGray{background-color: var(--Gray);}
.bgLighterGray{background-color: var(--LighterGray);}
.bgHighlight{background-color: var(--Highlight);}
.cBlack{color: var(--Black);}
.cGray{color:var(--Gray)}

.lineSeperator{width: 80%; height: 1px;border-radius: 2px; background-color: var(--Black); margin-left: 10%;}

.ocr{font-family: 'OCR A Std', sans-serif !important;}
a{text-decoration: none; color: var(--Black);}
p{color: var(--Black); line-height: 1.8rem; font-size: 1.1rem; font-weight: 500;}
h1{font-size: 1.4rem; font-weight: 800;color: var(--Black);}
h2{font-size: 1.1rem; font-weight: 600;color: var(--Black);}
h3{font-size: 0.9rem; font-weight: 500;color: var(--Black);}
h4{font-size: 0.95rem; font-weight: 500; line-height: 1.5rem;color: var(--Black);}
h5{font-size: 0.95rem;color: var(--Black);}
h6{font-weight: 500; line-height: 1.1rem;color: var(--Black);}
.textOverflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}






footer{
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--LighterGray);
}
.footerLogo{
    height: 2.7rem;
    object-fit: cover; 
}
.footerLinks{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
footer a{padding: 10px; transition-duration: 0.2s; font-weight: 400;}
footer a:hover{font-weight: 900; color: var(--Highlight);}

@media screen and (max-width:1200px){
    footer{
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2rem;
        padding-bottom: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        background-color: var(--LighterGray);
    }
}